.avatar-small[style*='283538246842187776'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='283538246842187776'] + .member-inner .member-username::after,
.avatar-popout[style*='283538246842187776']::after,
.avatar-profile[style*='283538246842187776']::after,
.message-group .avatar-large[style*='283538246842187776'] + .comment .user-name::after {
    content: "★★★";
}
.avatar-profile[style*='283538246842187776']::after {
    content: "Insert creative title";
}

.avatar-small[style*='283538246842187776'] + .member-inner .member-username {
    position: relative;
}


.avatar-small[style*='283538246842187776'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='283538246842187776'] + .member-inner .member-username::after,
.avatar-popout[style*='283538246842187776']::after,
.avatar-profile[style*='283538246842187776']::after,
.message-group .avatar-large[style*='283538246842187776'] + .comment .user-name::after {
    position: absolute;
    height: 14px;
    padding: 1px 2px;
    border-radius: 3px;
    background: rgba(255, 198, 0, 0.6);
    color: hsla(0, 100%, 100%, 0.8);
    font-size: 10px;
    text-align: center;
    font-weight: 700;
    line-height: 16px;
    text-shadow: 1 1 1px rgba(0, 0, 0, .6);
    text-transform: uppercase;
    vertical-align: bottom;
}

.avatar-small[style*='283538246842187776'] + .member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small[style*='283538246842187776'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='283538246842187776'] + .comment .user-name::after {
    position: relative;
    background: rgba(255, 198, 0, 0.6);
    color: hsla(0, 100%, 100%, 0.8);
    margin-left: 6px;
}

.avatar-small[style*='283538246842187776'] + .member-inner .member-username-inner::after {
    top: -1px;
    font-size: 11px;
}

.avatar-popout[style*='283538246842187776']::after {
    padding: 3px;
    font-size: 15px;
    top: 5%;
    right: -15%;
    z-index: 2;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.avatar-popout[style*='283538246842187776']:hover::after {
    color: #ffc600;
    font-size: 20px;
    padding: 5px 4px;
    top: 2.5%;
    right: -25%;
}

.avatar-profile[style*='283538246842187776']::after {
    background: rgba(255, 198, 0, 0.6);
    padding: 3px;
    font-size: 15px;
    top: -5%;
    left: 0;
    text-transform: none;
    width: 100%;
}